th {
    text-align: left;
    font-size: 20px;
    border-bottom: 3px solid black;
   }
   
   
table {
    width: 98%;
    margin: auto;
}

#table-container {
    margin-top: 40px;
}
   
.task-cell {
    min-width: 350px;
}

#task {
    min-width: 350px;
}

.other-cells {
    width: 170px;
    text-align: center;
}

.other-head {
    width: 170px;
}